<div class="w-16 h-screen bg-nav-background drop-shadow box-content border-r border-nav-dark">
    <div class="w-16 h-16 bg-nav-background-active box-content border-r border-b border-nav-dark"></div>
    <ul class="p-3 flex mt-5 flex-col gap-2.5">
        <li class="h-10 flex flex-row" *ngFor="let button of buttons">
            <a class="pl-2.5 pr-2.5 rounded-lg flex-grow text-center leading-10 text-nav-icon opacity-50" [routerLink]="button.link" routerLinkActive="bg-nav-background-active opacity-100">
                <fa-icon [icon]="button.icon"></fa-icon>
            </a>
        </li>
    </ul>
</div>
