/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 100vh;
}
