{
    "singleQuote": true,
    "overrides": [
        {
            "files": [
                "apps/**/*.html",
                "libs/**/*.html"
            ],
            "options": {
                "printWidth": 200
            }
        }
    ]
}
