<div class="scoreboard">
  <div class="players">
    <div class="player one">
      <div class="divider"></div>
      <div class="flag"></div>
      <div class="divider"></div>
      <div class="player-name">codephobia</div>
    </div>
    <div class="scores">
      <div class="divider left"></div>
      <div class="score left">10</div>
      <div class="divider left"></div>
      <div class="versus">vs</div>
      <div class="divider right"></div>
      <div class="score right">10</div>
      <div class="divider right"></div>
    </div>
    <div class="player two">
      <div class="player-name">codephobia</div>
      <div class="divider"></div>
      <div class="flag"></div>
      <div class="divider"></div>
    </div>
  </div>
  <div class="game">
    10 Ball - Race to 21
  </div>
</div>
