@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    :root {
        --color-sad-text: #ffffff;
        --color-sad-background: #304292;
        --color-sad-background-active: #0082ff;
        --color-sad-border: #19191e;
        --color-sad-border-active: #3f5faf;
        --color-sad-input-background: #10194e;
        --color-sad-section-title-background: #222f76;
        --color-sad-bg-grad-start: #263270;
        --color-sad-bg-grad-stop: #060a26;
        --color-sad-bg-table-odd: #0c1e47;
        --color-sad-bg-table-even: #10265b;
        --color-sad-success: #00af5b;
        --color-sad-error: #992222;
        --color-sad-challonge: #FF7324;
    }
}

@font-face {
    font-family: 'Cascadia Mono';
    src: url(./assets/fonts/CascadiaMono.ttf);
}

.shimmer-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -100%;
        bottom: 0;
        left: -100%;
        background-image: linear-gradient(
            to right,
            rgba(white, 0) 33.3%,
            rgba(white, 0.1),
            rgba(white, 0) 66.6%
        );
        animation: shimmer 1s infinite linear;
    }
}

@keyframes shimmer {
    from {
        transform: translateX(-33.3%);
    }
    to {
        transform: translateX(33.3%);
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// material overrides
.cdk-overlay-pane {
    &.no-padding {
        .mat-dialog-container {
            padding: 0;
        }
    }

    &.no-scrolling {
        .mat-dialog-container {
            overflow-y: hidden;
        }
    }

    .mat-dialog-container > * {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        height: 100%;
    }
}

.cdk-overlay-backdrop {
    background: rgba(0, 0, 0, 0.6) !important;
}
