<ng-container *ngIf="vm$ | async as vm">
    <div class="flex flex-col flex-grow" *ngIf="vm.isLoaded; else loading">
        <div class="flex flex-row h-66px bg-sad-input border-sad-active border-b">
            <div class="w-9/12 flex flex-col justify-center items-start px-10">
                <h2 class="text-white uppercase">{{ vm.tournament?.name }}</h2>
            </div>
            <div class="w-3/12 flex flex-col justify-center items-end px-10">
                <a href="https://challonge.com/{{ vm.tournament?.url }}" target="_blank" class="text-white bg-sad-challonge rounded py-2.5 px-5 uppercase text-xs">View on Challonge</a>
            </div>
        </div>
        <div class="flex flex-row flex-grow bg-sad-table-odd">
            <div class="flex flex-col flex-grow p-5 gap-5">
                <div class="flex flex-row">
                    <div class="flex flex-col flex-grow">
                        <div class="flex flex-row h-66px items-center text-white py-2.5 px-5 border-l border-r border-t border-sad-active rounded-t bg-sad-table-even uppercase">Global Settings</div>
                        <div class="flex flex-row bg-sad-table-odd p-5 border border-sad-active rounded-b">
                            <div class="flex flex-col gap-2.5">
                                <div class="flex flex-row gap-2.5">
                                    <button
                                        type="button"
                                        class="px-5 py-2.5 rounded text-white"
                                        [ngClass]="vm.gameType === gameType.EightBall ? 'bg-blue-700' : 'bg-gray-700'"
                                        (click)="updateGameType(gameType.EightBall)"
                                    >
                                        8 Ball
                                    </button>
                                    <button
                                        type="button"
                                        class="px-5 py-2.5 rounded text-white"
                                        [ngClass]="vm.gameType === gameType.NineBall ? 'bg-blue-700' : 'bg-gray-700'"
                                        (click)="updateGameType(gameType.NineBall)"
                                    >
                                        9 Ball
                                    </button>
                                    <button
                                        type="button"
                                        class="px-5 py-2.5 rounded text-white"
                                        [ngClass]="vm.gameType === gameType.TenBall ? 'bg-blue-700' : 'bg-gray-700'"
                                        (click)="updateGameType(gameType.TenBall)"
                                    >
                                        10 Ball
                                    </button>
                                </div>
                                <dashboard-toggle label="Overlay" [checked]="vm.showOverlay" (toggled)="updateShowOverlay(!vm.showOverlay)"></dashboard-toggle>
                                <dashboard-toggle label="Flags" [checked]="vm.showFlags" (toggled)="updateShowFlags(!vm.showFlags)"></dashboard-toggle>
                                <dashboard-toggle label="Fargo" [checked]="vm.showFargo" (toggled)="updateShowFargo(!vm.showFargo)"></dashboard-toggle>
                                <dashboard-toggle label="Score" [checked]="vm.showScore" (toggled)="updateShowScore(!vm.showScore)"></dashboard-toggle>
                                <dashboard-toggle label="Handicapped" [checked]="vm.isHandicapped" (toggled)="updateIsHandicapped(!vm.isHandicapped)"></dashboard-toggle>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row">
                    <div class="flex flex-col flex-grow">
                        <div class="flex flex-row flex-grow h-66px items-center text-white py-2.5 px-5 border-l border-r border-t border-sad-active rounded-t bg-sad-table-even uppercase">
                            <span *ngIf="vm.tournament?.tournament_type === 'double elimination'">A Side&nbsp;</span>Race To
                        </div>
                        <div class="flex flex-row bg-sad-table-odd p-5 gap-2.5 border border-sad-active rounded-b">
                            <button type="button" class="px-5 py-2.5 rounded text-white" [ngClass]="vm.aSideRaceTo === 1 ? 'bg-blue-700' : 'bg-gray-700'" (click)="updateASideRaceTo(1)">1</button>
                            <button type="button" class="px-5 py-2.5 rounded text-white" [ngClass]="vm.aSideRaceTo === 2 ? 'bg-blue-700' : 'bg-gray-700'" (click)="updateASideRaceTo(2)">2</button>
                            <button type="button" class="px-5 py-2.5 rounded text-white" [ngClass]="vm.aSideRaceTo === 3 ? 'bg-blue-700' : 'bg-gray-700'" (click)="updateASideRaceTo(3)">3</button>
                            <button type="button" class="px-5 py-2.5 rounded text-white" [ngClass]="vm.aSideRaceTo === 4 ? 'bg-blue-700' : 'bg-gray-700'" (click)="updateASideRaceTo(4)">4</button>
                            <button type="button" class="px-5 py-2.5 rounded text-white" [ngClass]="vm.aSideRaceTo === 5 ? 'bg-blue-700' : 'bg-gray-700'" (click)="updateASideRaceTo(5)">5</button>
                            <button type="button" class="px-5 py-2.5 rounded text-white" [ngClass]="vm.aSideRaceTo === 6 ? 'bg-blue-700' : 'bg-gray-700'" (click)="updateASideRaceTo(6)">6</button>
                            <button type="button" class="px-5 py-2.5 rounded text-white" [ngClass]="vm.aSideRaceTo === 7 ? 'bg-blue-700' : 'bg-gray-700'" (click)="updateASideRaceTo(7)">7</button>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row" *ngIf="vm.tournament?.tournament_type === 'double elimination'">
                    <div class="flex flex-col flex-grow">
                        <div class="flex flex-row flex-grow h-66px items-center text-white py-2.5 px-5 border-l border-r border-t border-sad-active rounded-t bg-sad-table-even uppercase">
                            B Side Race To
                        </div>
                        <div class="flex flex-row bg-sad-table-odd p-5 gap-2.5 border border-sad-active rounded-b">
                            <button type="button" class="px-5 py-2.5 rounded text-white" [ngClass]="vm.bSideRaceTo === 1 ? 'bg-blue-700' : 'bg-gray-700'" (click)="updateBSideRaceTo(1)">1</button>
                            <button type="button" class="px-5 py-2.5 rounded text-white" [ngClass]="vm.bSideRaceTo === 2 ? 'bg-blue-700' : 'bg-gray-700'" (click)="updateBSideRaceTo(2)">2</button>
                            <button type="button" class="px-5 py-2.5 rounded text-white" [ngClass]="vm.bSideRaceTo === 3 ? 'bg-blue-700' : 'bg-gray-700'" (click)="updateBSideRaceTo(3)">3</button>
                            <button type="button" class="px-5 py-2.5 rounded text-white" [ngClass]="vm.bSideRaceTo === 4 ? 'bg-blue-700' : 'bg-gray-700'" (click)="updateBSideRaceTo(4)">4</button>
                            <button type="button" class="px-5 py-2.5 rounded text-white" [ngClass]="vm.bSideRaceTo === 5 ? 'bg-blue-700' : 'bg-gray-700'" (click)="updateBSideRaceTo(5)">5</button>
                            <button type="button" class="px-5 py-2.5 rounded text-white" [ngClass]="vm.bSideRaceTo === 6 ? 'bg-blue-700' : 'bg-gray-700'" (click)="updateBSideRaceTo(6)">6</button>
                            <button type="button" class="px-5 py-2.5 rounded text-white" [ngClass]="vm.bSideRaceTo === 7 ? 'bg-blue-700' : 'bg-gray-700'" (click)="updateBSideRaceTo(7)">7</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-row h-66px bg-sad-section-title border-sad-active border-t border-b justify-between items-center px-10">
            <a class="text-white bg-blue-700 rounded py-2.5 px-5 uppercase text-xs" routerLink="..">Back</a>
            <button type="button" class="text-white bg-sad-success rounded py-2.5 px-5 uppercase text-xs" (click)="loadTournament()">Load Tournament</button>
        </div>
    </div>
    <ng-template #loading></ng-template>
</ng-container>
